<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="yuriy.rssreader">

    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="19"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/MainTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="feed"/>
                <data android:scheme="rss"/>
                <data android:scheme="atom"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data
                        android:host="*"
                        android:pathPattern=".*xml"/>
                <data
                        android:host="*"
                        android:pathPattern=".*rss"/>
                <data
                        android:host="*"
                        android:pathPattern=".*feed.*"/>
                <data
                        android:host="*"
                        android:pathPattern=".*rss.*"/>
                <data
                        android:host="*"
                        android:pathPattern=".*RSS.*"/>
                <data
                        android:host="*"
                        android:pathPattern=".*ATOM.*"/>
                <data
                        android:host="*"
                        android:pathPattern=".*atom.*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="text/xml"/>
                <data android:mimeType="application/rss+xml"/>
                <data
                        android:mimeType="application/atom+xml"
                        android:scheme="http"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.entry_activity.SingleRssViewActivity"/>
        <activity
                android:name=".ui.settings_activity.SettingsActivity"
                android:label="@string/settings_screen_label"/>

        <service
                android:name=".services.DatabaseOperationService"
                android:enabled="true"
                android:exported="false"/>
        <service
                android:name=".services.UrlSaverService"
                android:enabled="true"
                android:exported="false"/>
        <service
                android:name=".services.SingleEntryOperationService"
                android:enabled="true"
                android:exported="false">
        </service>

        <receiver android:name=".services.Alarm">
        </receiver>
        <receiver
                android:name=".services.receivers.OnBootReceiver"
                android:enabled="false"
                android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".services.receivers.InternetOnReceiver"
                android:enabled="false"
                android:exported="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".services.receivers.WifiOnReceiver"
                android:enabled="false"
                android:exported="false">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.RssWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/rss_widget"/>
        </receiver>

        <service
                android:name=".widget.services.ListWidgetService"
                android:exported="false"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <receiver
                android:name=".widget.NewEntriesReceiver"
                android:enabled="true"
                android:exported="false">
        </receiver>
    </application>

</manifest>